.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../dictionary-image.jpg");
    height: 50vh;
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    position: relative;
}

