.header {

    color: white;
    font-size: xxx-large;
    font-weight: bold;
    font-family: "Helvetica";
    background-color: rgb(14, 37, 11);
    align-items: center;
    padding: 25px;
}

.words-container {

    background-color: rgb(250, 249, 246);
    text-align: center;
}

.list {
    border-bottom: 1px solid rgb(3, 28, 15);
    padding: 25px;
    font-size: 20px;
    box-shadow: 1px 2px 3px 4px rgba(20, 20, 20, 0.4);
}

.word-list {
    list-style: none;
    border: 1px solid black;
    border-radius: 25px;
    background: #799d4680;
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 120px;
}